*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #5D5D7D;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
.container {
    height: 100vh;
    width: 100vw;
}
.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 20%;
    padding-left: 136px;
}
.container-right {
    display: inline-block;
    width: 40%;
    height: 100vh;
    position: absolute;
    background-color: rgba(93, 93, 125, 0.16);
}
header {
    margin: 24px 0 0 57px;
}
img {
    position: relative;
    top: 13%;
    right: 140px;
}
h1 {
    width: 368px;
    font-size: 70px;
    line-height: 80px;
}
p {
    width: 500px;
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
}
button {
    width: 269px;
    height: 62px;
    background-color: #9499ea;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}
button:active {
    opacity: 0.5;
}
a {
    font-size: 28px;
    line-height: 41px;
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
}
a:nth-child(2) {
    opacity: 0.4;
}
a:hover {
    opacity: 0.5;
}
a:active {
    opacity: 0.7;
}
@media screen and (max-width: 900px) {
    .container-right {
        display: block;
        width: 100%;
        height: auto;
        position: static;
        margin: 0;
        padding: 20px;
    }
    .container-left {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }
    img {
        position: static;
        max-width: 90%;
    }
    header {
        display: none;
    }
    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }
    p {
        width: auto;
        font-size: 14px;
        line-height: 24px;
        margin: 15px 40px;
        text-align: center;
    }
    button {
        display: block;
        margin: 0 auto;
    }
}